*{
    padding: 0;
    margin: 0;
}
@media (min-width: 768px) {
    .background-navbar{
        height: 32vh;
        width: 250px;
        display: flex;
        flex-direction: column;
        gap: 1em;
        color: white;

        padding: 20px;

        border-right: solid gray 1px;
        border-bottom: solid gray 1px;
    }

    .minimized{
        height: 100px;
        border: none;
    }

    .nav-header{
        display: flex;
        gap: 1em;
        font-size: 25px;
    }

    .nav-header .btn-action{
        order: 1;
        width: 35px;
        height: 35px;

        background-color: transparent;
        border: solid white 1.5px;
        border-radius: 8px;
        color: white;
        font-size: .7em;
    }

    .nav-header .app-logo{
        order: 2;
    }

    .nav-options{
        display: flex;
        flex-direction: column;
        gap: 1em;

        padding: 20px 0;
    }

    .nav-options .nav-item{
        color: white;
        font-size: 1.2em;

        display: flex;
        gap: 1em;
        align-items: center;

        padding-left: 10px;
    }

    .nav-options .nav-item:hover{
        color: gray;
    }
    
    .nav-options a{
        text-decoration: none;
    }

    .nav-footer{
        display:flex;
        align-items: center;
        gap: .5em;

        font-size: 18px;
    }

    .nav-footer .btn-user-profile{
        background-color: transparent;
        border: none;
        color: white;
        width: 50px;
    }

}

/* MOBILE DEVICE */
@media (max-width: 768px) {
    .background-navbar{
        position: fixed;
        bottom: 0;
        overflow: hidden;
        width: 100%;
        height: 60vh;
        padding: 20px 0;
        color: white;
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        gap: 3em;
        
        border-top: solid gray .2px;
    }
    
    .minimized{
        height: 5vh;
    }
    
    .nav-header{
        display: flex;
        align-items: center;
        gap: 5px;
        
        font-size: 20px;
        font-weight: 800;
        justify-content: space-around;
        width: 100%;
    }
    
    .nav-header .app-logo{
        display: flex;
        align-items: center;
    }

    .nav-header .app-logo > span{
        font-size: 25px;
        margin-left: 10px;
    }

    .nav-header .app-logo .navbar-icon{
        font-size: 30px;
    }

    .nav-options{
        display: flex;
        flex-direction: column;
        gap: .5em;
        padding: 20px;
    }

    .nav-options a{
        color: white;
        text-decoration: none;
    }
    
    .nav-item{
        display: flex;
        align-items: center;
        text-align: middle;
        gap: .7em;
    }
    
    .nav-item .nav-item-icon{
        font-size: 1em;
    }

    .nav-item .nav-item-title{
        font-size: 1.2em;
    }

    .nav-footer{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: start;
        font-size: 1em;   
        gap: .5em;
        padding-left: 20px;
    }

    .btn-action {
        width: 30px;
        height: 30px;
        
        background-color: transparent;
        font-size: 1em;
        color: white;

        border: solid 2px white;
        border-radius: 8px;

        display: flex;
        align-items: center;
        justify-content: center;
        
        cursor: pointer;
    }

    .btn-user-profile{
        background-color: transparent;
        border: none;
        border-color: transparent;
        color: white;
    }
}