*{
    padding: 0;
    margin: 0;
}

.background-navbar{
    padding: 20px 0;
    color: white;
    
    width: 500px;
    height: 50vh;
}

.nav-header{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    
    background-color: red;
    font-size: 20px;
    font-weight: 800;
}

.nav-options{
    background-color: blue;

}

.nav-item{
    font-size: 1.5em;
}

/* MOBILE DEVICE */
@media (max-width: 768px) {
    .background-navbar{
        width: 90%;
        /* height: 100vh; */
    }
}