*{
    padding: 0;
    margin: 0;
}

.nav-container{
    height: 100vh;
    width: 350px;
    display: flex;
    align-items: center;
}

nav{
    width: 800px;
    height: 80vh;
    border: 2px solid #fff;  
    padding: 20px;
    border-radius: 50%;
    margin-left: -500px;
}

.nav-option{
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    position: absolute;
    width: 70px;
    height: 20px;
    left: 15px;
    top: 430px;
}

.nav-item{
    text-decoration: none;
    display: flex;
    gap: 10px;
    align-items: center;
    width: 120px; 

    color: #FCFCF7;
    font-size: 20px;
}